* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************variables*************** */
:root {
    --gris-clair: #E7E7E7;
    --bleue: #3282F7;
    --vert-clair: #68D9A4;
    --rouge: #ED6454;
    --blanc: #fff;
    --font-size-1: 1.25em;
    --font-size-2: 0.75em;
}

/* *************General*************** */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* ************header************ */
.logo {
    height: 93px;
    margin-top: 42px;
}

/* **********Formulaires*********** */
/* Search */
.search-bar>input {
    height: 70px;
    background-color: var(--gris-clair);
    border: none;
    outline: none;
    border-radius: 8px;
    padding-left: 20px;
    font-size: 18px;
}

.search-bar>button {
    height: 70px;
    width: 70px;
    right: 0;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: var(--gris-clair);
    border-radius: 8px;
}

/* DropDown */

.formulaire {
    position: relative;
    height: 25vh;
}

.filters {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.chevron.active>img {
    rotate: 180deg;
}

.hide {
    border: 0;
    clip: rect(0 0 0 0);

    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.dropdown-menu {
    height: 69px;
    width: 170px;
}

.dropdown-menu>a {
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-down>input,
textarea {
    background-color: transparent;
    border: none;
    color: var(--blanc);
    font-size: var(--font-size-1);
}

.search-down>* {
    cursor: pointer;
}

.search-down>input::placeholder {
    color: var(--blanc);
    opacity: 0.5;
}

.search-down>input:focus,
textarea:focus {
    background-color: transparent;
    color: var(--blanc);
    border: none;
    outline: none;
    box-shadow: none;
}

.bg-ingredient {
    background-color: var(--bleue);
}

.bg-appliance {
    background-color: var(--vert-clair);
}

.bg-ustensil {
    background-color: var(--rouge);
}

/* list elements */
.list-group {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 7px;
    position: absolute;
    width: 100%;
}
.list-group li{
    color: var(--blanc);
    font-weight: 400;
    font-size: 1.125em;
}
.list-group li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 5px;
}


.dropdown {
    border-radius: 5px;
}

.dropdown.active {
    border-radius: 5px 5px 0 0;
}

.list-group.active {
    border-radius: 0 0 5px 5px;
}

.tag>* {
    padding: 10px 25px;
    color: white;
    border-radius : 5px;
    border: none;
    margin-right: 10px;
}

.tag_space > img{
    margin-left: 5px;
}

/* *********CARDS*********** */
.card {
    background-color: var(--gris-clair);
    width: 380px;
    height: 364px;
}

.card-img-top {
    height: 178px;
    object-fit: cover;
}

.card-detail {
    height: 108px;
}

.card h2 {
    font-size: var(--font-size-1);
}

.list-group-item {
    background-color: var(--gris-clair);
}

.list-group-item span {
    font-weight: 700;
}

.list-group-item,
.card-desc {
    font-size: var(--font-size-2);
}

.list-ingredients {
    padding-left: 0;
}

.timer {
    font-weight: 700;
}

.card-desc,
.list-ingredients {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bleue) var(--gris-clair);  
}